footer {
	padding: 25px 0;
	background: $slate;
	color: $white;

	@include tablet-portrait {
		padding: 50px 0;
	}

	a {
		color: $white;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#footer-logo {
		width: 100%;
		
		@include tablet-portrait {
			width: 40%;
		}

		img {
			max-width: 40px;
		}

		.nav {
			padding: 40px 0 0 0;

			li + li {
				padding: 5px 0 0 0;
			}

			a {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.75em;
				font-weight: 500;
	
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	#contact {
		width: 100%;
		padding: 50px 0 0 0;

		@include tablet-portrait {
			width: auto;
			padding: 0;
		}

		h3 {
			font-size: 1.125em;
			padding: 0 0 10px 0;
		}

		p {
			font-size: 0.875em;
		}

		.social {
			padding: 50px 0 0 0;

			.icons {
				display: flex;
				align-items: center;

				a + a {
					margin-left: 25px;
				}

				a {
					display: block;
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 0 0;
					text-indent: -9999px;

					&.facebook {
						background-image: url(images/facebook.png);
						height: 24px;
						width: 14px;
					}

					&.twitter {
						background-image: url(images/twitter.png);
						height: 20px;
						width: 24px;
						margin-top: 4px;
					}
				}
			}
		}
	}

	#copyright {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 15px 0 0 0;
		border-top: 1px solid $white;
		margin: 50px 0 0 0;

		& > * {
			width: 100%;

			@include tablet-portrait {
				width: auto;
			}
		}

		.note {
			p {
				font-size: 0.75em;
			}
		}

		.site-credit {
			padding: 10px 0 0 0;

			@include tablet-portrait {
				padding: 0;
			}

			span, a {
				color: #6A6A6A;
				font-size: 0.75em;
				font-weight: 500;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}

}