header {
	padding: 20px 0;


	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include tablet-portrait {
			border-bottom: 1px solid #D5D5D5;
			padding-bottom: 20px;
		}

	}


	#header-logo {
		a {
			display: block;
			display: flex;
			align-items: center;

			span.name {
				padding: 0 0 0 20px;
			}

			img {
				max-width: 40px;
			}
		}
		img.home {
			display: none;
		}
	}

	.menu-main-menu-container {
		display: none;
		width: 100%;

		@include tablet-portrait {
			display: block !important;
			width: auto;
		}
	}

	ul.menu {
		padding: 20px;

		li {
			& + li {
				border-top: 1px solid #eee;
			}
			
			a {
				font-size: 1.125em;			
				font-weight: 500;
				padding: 20px 0;
				display: block;
				text-align: center;
				color: $green;
			}
		}

		@include tablet-portrait {
			display: flex;
			padding: 10px 0 0 0;

			li {
				padding: 0 10px;
				border: none !important;

				&:last-of-type {
					padding-right: 0;

					a {
						padding-right: 0;
					}
				}

				a {
					padding: 0 10px;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.875em;
					text-align: left;
					color: $slate;



					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

	}


	#toggle {
		width: 34px;
	    cursor: pointer;
	    padding: 8px 5px 8px 5px;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    margin-right: 0;

		@include tablet-portrait {
			display: none;
		}


		.patty {
		    width: 30px;
		    height: 3px;
		    background: $green;
		    transition: all 0.3s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 30px;
			    height: 3px;
			    background: $green;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}

}