body.home {

	header {

		@include tablet-portrait {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1000;			
			width: 100%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			margin: 0;

			.wrapper {
				border-bottom: none;
				padding-bottom: 0;

			}

			#header-logo {
				img.site {
					display: none;
				}

				img.home {
					display: block;
				}

				a {
					color: $white;
					text-shadow: 1px 1px 2px #392131;
				}
			}

			ul.menu {
				li {
					a {
						color: $white;
						text-shadow: 1px 1px 2px #392131;
					}
				}
			}

			#toggle {

				.patty {
				    background: $white;

					&:after, &:before {
					    background: $white;
					}
				}
			}

			&.open {

				#toggle .patty {
					background: none;

				}
			}
		}
	}


	section#hero {
		article {
			height: 260px;

			@include mobile-portrait {
				height: 420px;
			}

			@include tablet-portrait {
				height: 720px;
			}

			&#life-in-balance {
				.info {
					text-shadow: 2px 2px 8px rgba(66, 38, 53, 0.9);
				}
			}

			&#health-in-focus {
				.info {
					text-shadow: 0px 1px 4px rgba(60, 60, 60, 1);

					@include tablet-landscape {
						margin-left: auto;
					}
				}
			}
		}


		.wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
		}

		.info {
			color: $white;

			@include tablet-portrait {
				max-width: 50%;
			}

			h5 {
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.75em;
				padding: 0 0 5px 0;
				border-bottom: 1px solid $white;
				display: inline-block;
				margin: 0 0 40px 0;
			}

			h1 {
				line-height: 1em;
				font-size: 1.5em;
				margin: 0 0 20px 0;	

				@include mobile-landscape {
					font-size: 2.25em;
				}

				@include tablet-landscape {
					font-size: 4.5em;
					margin: 0 0 40px 0;
				}

			}

			p {
				font-size: 1em;
				line-height: 1.5em;

				@include mobile-landscape {
					font-size: 1.25em;
				}

				@include tablet-landscape {
					font-size: 1.375em;
				}
			}
		}
	}

	section#products,
	section#science,
	section#inspiration {
		.info {
			padding: 0 0 50px 0;

			@include tablet-portrait {
				padding: 0;
			}

			h5 {
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.75em;
				padding: 0 0 5px 0;
				display: inline-block;
				margin: 0 0 15px 0;
			}

			h2 {
				line-height: 1em;
				font-size: 1.5em;
				margin: 0 0 20px 0;	

				@include tablet-portrait {
					font-size: 2.25em;
				}

				@include tablet-landscape {
					font-size: 3em;
				}
			}

			p {
				font-size: 1em;
				line-height: 1.5em;

				@include tablet-portrait {
					font-size: 1.125em;
				}

				@include tablet-landscape {
					font-size: 1.25em;
					max-width: 500px
				}
			}



		}
	}	

	section#products {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 100px 0;
		}

		@include desktop {
			padding: 150px 0;
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& > * {
				width: 100%;

				@include tablet-portrait {
					width: 47.5%;
				}
			}
		}

		.info {
			h5 {
				border-bottom: 1px solid $slate;
			}

		}

	}

	section#science {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 100px 0;
		}

		@include desktop {
			padding: 150px 0;
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& > * {
				width: 100%;

				@include tablet-portrait {
					width: 47.5%;
				}
			}
		}

		.info {
			color: $white;
			text-align: right;
			margin-left: auto;

			@include tablet-portrait {
				width: 100%;

				p {
					margin-left: auto;
					max-width: 500px;
				}
			}

			h5 {
				border-bottom: 1px solid $white;
			}

			a.btn {
				color: $white;
				border: 2px solid $white;

				&:hover {
					color: $slate;
					background: $white;
				}
			}

			img.certified {
				margin: 40px 0 0 0;

				@include tablet-portrait {
					position: absolute;
					left: 0;
					bottom: -50px;
					margin: 0;
				}

			}
		}

	}

	section#science {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 100px 0;
		}

		@include desktop {
			padding: 150px 0;
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& > * {
				width: 100%;

				@include tablet-portrait {
					width: 47.5%;
				}
			}
		}

		.info {
			color: $white;
			text-align: right;
			margin-left: auto;

			@include tablet-portrait {
				width: 100%;

				p {
					margin-left: auto;
					max-width: 500px;
				}


			}

			h5 {
				border-bottom: 1px solid $white;
			}

			a.btn {
				color: $white;
				border: 2px solid $white;

				&:hover {
					color: $slate;
					background: $white;
				}
			}

			img.certified {
				margin: 40px 0 0 auto;
				max-width: 88px;

				@include tablet-portrait {
					position: absolute;
					left: 0;
					bottom: -25px;
					margin: 0;
				}

				@include tablet-landscape {
					max-width: 100%;
					bottom: -50px;

				}

			}
		}

	}

	section#inspiration {
		padding: 50px 0;
		background: #FDFDFD;

		.info {
			text-align: center;
			padding: 0 0 50px 0;

			h5 {
				border-bottom: 1px solid $slate;
			}
		}

		@include tablet-landscape {
			padding: 100px 0;
		}

		@include desktop {
			padding: 150px 0;
		}

		.post {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}



		.read-blog {
			padding: 50px 0 0 0;
			display: flex;
			width: 100%;
			justify-content: center;

			a.btn {
				color: $slate;

				&:hover {
					color: $white;
				}
			}
		}
	}

	section.newsletter {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}
	}


}