


body.blog,
body.archive {
	background: #fafafa;


	section#blog-header {
		text-align: center;
		padding: 50px 0;
		
		h1 {
			background: $green;
			color: $white;
			display: inline-block;
			padding: 15px;
			font-size: 1.5em;
			font-weight: 400;
			text-transform: capitalize;

			@include tablet-portrait {
				font-size: 2em;
			}
		}
	}

}

body.tag,
body.category {

	section#blog-header {

		.header {
			width: 100%;



			em {
				font-family: $libre;
				color: #1a1a1a;
				font-size: 0.875em;
				padding: 0 0 10px 0;
				display: block;

				@include tablet-landscape {
					font-size: 1.125em;
				}
			}



		}

	}
}