body.page-template-default {

	section + section {
		padding: 50px 0 0 0;
	}

	section:last-of-type {
		padding-bottom: 50px;
	}

	section#hero {

		.cover {
			min-height: 180px;
			display: flex;

			@include tablet-portrait {
				min-height: 360px;
			}
		}

		h1 {
			background: $green;
			color: $white;
			display: inline-block;
			padding: 15px;
			font-size: 1.5em;
			font-weight: 400;
			align-self: flex-end;
			transform: translate(20px, -20px);

			@include tablet-portrait {
				font-size: 2em;
			}
		}
	}


	section.text {

		@include tablet-landscape {

			.wrapper {
				padding: 0 0 0 20px;
				width: 66.6666%;
			}

		}

		p, ul, ol {
			font-size: 1em;
			line-height: 1.5em;
			margin-bottom: 25px;


			@include tablet-portrait {
				font-size: 1.125em;
			}

		}

		ul, ol {
			padding-left: 20px;

			li {
				margin: 0 0 10px 0;
			}
		}

		ul {
			li {
				list-style-type: disc;
			}
		}

		ol {
			li {
				list-style-type: decimal;
			}
		}

		h1, h2, h3, h4, h5, h6 {
			color: $blue;
			padding: 15px 0 15px 0;

		}

		h2, h1 {
			font-size: 1.375em;

			@include tablet-portrait {
				font-size: 1.75em;
			}
		}

		h3 {
			font-size: 1.25em;
			text-transform: uppercase;
			letter-spacing: 0.02em;

			@include tablet-portrait {
				font-size: 1.5em;
			}
		}

		h4{
			font-size: 1em;
			@include tablet-portrait {
				font-size: 1.25em;
			}
		}

		h5, h6 {
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 0.02em;
		}

		a {
			text-decoration: underline;
		}

		blockquote {
			max-width: 840px;
			position: relative;
			padding: 25px 0;
			margin: 0;

			p {
				margin: 0;
				font-size: 1em;
				line-height: 1.25em;
				font-weight: 500;
				border-left: 4px solid $blue;
				padding-left: 25px;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}
		}

		img {
			margin: 0 0 25px 0;

			&.alignnone.size-full {
				width: 100%;
			}

			@include mobile-landscape {
				&.alignleft {
					float: left;
					margin-right: 25px;
					max-width: 33.3333%;
				}
				&.alignright {
					float: right;
					margin-left: 25px;
					max-width: 33.3333%;
				}

			}

		}


	}

	section.photo,
	section.youtube {
		.caption {
			padding: 15px 0 0 0;
			
			p {
				font-size: 0.875em;
				line-height: 1.375em;
				max-width: 800px;
				color: #8A8A8A;

				& + p {
					padding: 15px 0 0 0;
				}
			}
		}
	}

	section.call-to-action {

		.cta-wrapper {
			background: $blue;
			color: $white;
			display: flex;
			flex-wrap: wrap;
			padding: 25px;
			align-items: center;

			@include tablet-portrait {
				padding: 50px;
			}

			& > * {
				width: 100%;


			}

			.image {
				padding: 0 0 25px 0;

				@include tablet-portrait {
					width: 10%;
					padding: 0;
				}

				img {
					margin: 0 auto;
				}
			}

			.info {
				padding: 0 0 25px 0;

				@include tablet-portrait {
					width: 70%;
					padding: 0 25px;
				}

				h3 {
					font-size: 1.5em;
					padding: 0 0 15px 0;
				}

				p {
					font-size: 1em;
					line-height: 1.375em;
				}
			}

			.button {

				@include tablet-portrait {
					width: 20%;
				}

				a.btn {
					color: $white;
					border: 2px solid $white;
					margin: 0;
					text-align: center;
					line-height: 1.25em;

					&:hover {
						background: $white;
						color: $blue;
					}
				}
			}

		}

	}

}

