body.single-post {
	background: #fafafa;

	section#back {
		padding: 10px 0 0 0;
		a {
			font-size: 0.8125em;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	section#pagination {
		padding: 50px 0 50px 0;
		color: $green;

		@include tablet-portrait {
			.wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				max-width: 940px;
			}
		}

		h5 {
			font-size: 1em;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-weight: bold;
			padding: 0 0 10px 0;
			color: $slate;
		}

		span {
			display: block;
			max-width: 320px;
		}

		a {
			line-height: 1.25em;

			&:hover {
				text-decoration: underline;
			}
		}

		.next {

			padding: 40px 0 0 0 ;

			@include tablet-portrait {
				text-align: right;
				padding: 0;
			}
		}
	}

	section#featured-image {
		max-width: 1200px;
		margin: 0 auto;
		height: 260px;

		@include mobile-landscape {
			height: 420px;
		}

		@include tablet-landscape {
			height: 550px;
			margin: 40px auto 0 auto;
		}

		@include desktop {
			height: 690px;
		}
	}


	section#article-wrapper {
		@include tablet-landscape {
			display: flex;
			justify-content: center;
			max-width: 1200px;
			margin: 0 auto;
			align-items: flex-start;

			aside {
				top: -20px;
				position: relative;
				left: -10px;
			}
		}
	}

	aside {
		box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
		background: $white;
		padding: 30px;
		max-width: 720px;
		width: 90%;
		margin: 0 auto;

		@include tablet-landscape {
			width:  auto;
			margin: 0;
		}

		div + div {
			padding: 60px 0 0 0;

		}


		@include mobile-landscape {
			padding: 40px;
		}

		.share {
			padding-top: 0;

			h5 {
				color: $slate;
			}
		}

		div.categories {

		 	& > ul {

				& > li {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.8125em;
					letter-spacing: 0.05em;

					& > ul {
						padding: 10px 0 0 0;

						& > li {
							padding: 5px 0;

							a {
								text-transform: capitalize;
								font-weight: normal;
								letter-spacing: 0;
								font-size: 1.125em;
							}
						}
					}
				}
			}


		}

		div.tags {
			h5 {
				font-size: 0.8125em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 0 0 10px 0;
			}

			a {
				display: block;
				padding: 5px 0;
				font-size: 0.875em;
			}
		}
	}

	article {
		font-family: $montserrat;
		max-width: 720px;
		width: 90%;
		margin: 0 auto;
		top: -40px;
		box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);

		@include tablet-landscape {
			width: auto;
			margin: 0;
		}




		.article-header,
		.article-body,
		.article-footer {
			background: $white;
			padding: 30px;

			@include mobile-landscape {
				padding: 60px;
			}
		}

		.article-header {
			padding-bottom: 0;

			h1 {
				font-weight: 900;
				color: $green;
				font-size: 2em;

				@include tablet-portrait {
					font-size: 2.75em;
				}
			}

			span.date {
				font-family: $montserrat;
				font-size: 0.875em;
				display: block;
				padding: 0 0 10px 0;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: #aaa;
			}

			span.author {
				font-family: $montserrat;
				font-weight: 500;
				color: $slate;
				font-size: 1.125em;
				display: block;
				padding: 25px 0 0 0;
			}
		}

		.article-body {

			& > * + * {
				padding: 30px 0 0 0;

				@include tablet-portrait {
					padding: 40px 0 0 0;
				}
			}

			p, ul, ol {
				font-size: 1em;
				line-height: 1.6666em;

				@include tablet-portrait {
					font-size: 1.125em;
				}

			}

			ul, ol {
				max-width: 90%;
				padding-left: 30px;

				@include tablet-portrait {
					padding-left: 60px;
				}

				li {
					margin: 0 0 10px 0;
				}
			}

			ul {
				li {
					list-style-type: disc;
				}
			}

			ol {
				li {
					list-style-type: decimal;
				}
			}

			h1, h2, h3, h4, h5, h6 {
				color: $green;
				padding-top: 40px;

				@include tablet-portrait {
					padding-top: 60px;
				}

				& + * {
					padding-top: 10px;
				}

			}

			h2, h1 {
				font-size: 1.5em;

				@include tablet-portrait {
					font-size: 1.75em;
				}
			}

			h3 {
				font-size: 1.25em;
				text-transform: uppercase;
				letter-spacing: 0.02em;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}

			h4{
				font-size: 1em;
				@include tablet-portrait {
					font-size: 1.25em;
				}
			}

			h5, h6 {
				font-size: 1em;
				text-transform: uppercase;
				letter-spacing: 0.02em;
			}

			a {
				text-decoration: underline;
			}

			blockquote {
				padding-left: 30px;
				padding-top: 5px;
				padding-bottom: 5px;
				border-left: 5px solid $light-gray;
				max-width: 540px;
				margin: 30px 0 0 0;

				@include tablet-portrait {
					font-size: 1.25em;
					margin: 40px 0 0 0;
				}

				@include tablet-portrait {
					margin: 40px 0 0 40px;
				}

				p {
					font-size: 0.8125em;
					line-height: 2em;
				}
			}

			img {
				margin: 0 0 30px 0;
			}


		}


		.article-footer {
			padding-top: 0;

			.tags {
				border-top: 1px solid #d5d5d5;
				padding-top: 20px;

				a {
					font-family: $montserrat;
					text-transform: uppercase;
					font-size: 0.8125em;
					font-weight: 500;
					color: #aaa;
					display: inline-block;

					& + a {
						margin-left: 20px;

					}

					&:before {
						content: '#';
					}
				}
			}

			.about {
				padding-top: 40px;

				p {
					font-size: 0.875em;
					font-style: italic;
					color: #8a8a8a;
				}
			}



		}



	}


	.share {
		padding-top: 40px;

		h5 {
			text-transform: uppercase;
			color: $blue;
		}

		.links {
			padding-top: 20px;
			display: flex;

			a {
				display: block;

				img {
					max-width: 24px;
				}

				& + a {
					margin-left: 20px;
				}
			}
		}
	}


	.article-body {
		div.author {
			padding: 40px 0 0 0;
			margin: 20px 0 0 0;
			border-top: 1px solid #d5d5d5;

			h5 {
				padding-top: 0;
			}
		}
	}

}