body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include tablet-portrait {
		padding: 0 50px;
    }

	@media screen and (min-width: 1260px) {
		padding: 0;
	}
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#ajax-load-more,
.alm-listing {
	width: 100%;
}
section#blog {
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	.alm-reveal {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}




	.alm-btn-wrap {
		display: flex;
		justify-content: center;

		button#load-more {
			border: none;
			background: #fafafa;
			border: 2px solid $green;
			color: $green;
			border-radius: 3px;
			font-family: $montserrat;
			font-weight: 700;
			display: block;
			font-size: 0.75em;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			line-height: 1em;
			padding: 16px 36px;
			margin: 20px 0 0 0;

			&.done {
				display: none;
			}

			&:hover {
				background: $green;
				color: $white;
			}


			&:focus, &:active {
				outline: none;
			}
		}
	}


}

.posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

article.teaser {
	width: 100%;
	padding: 0 0 50px 0;	

	@include tablet-portrait {
		width: 47.5%;
		padding: 0 0 100px 0;
	}

	@include tablet-landscape {
		width: 31.333%;
	}

	.image {

		a {
			display: block;
			min-height: 240px;			
		}

	}

	.post-info {
		background: $white;
		padding: 40px;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
		max-width: 90%;
		margin: -20px auto 0 auto;

		span.date {
			text-transform: uppercase;
			display: block;
			padding: 0 0 20px 0;
			font-size: 0.75em;
			color: #8A8A8A;
			letter-spacing: 0.05em;
		}

		h3 {
			font-size: 1.25em;
			padding: 0 0 40px 0;

			a {
				color: $slate;
			}
		}

		a.read-more {
			display: inline-block;
			font-size: 0.875em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}
}


section.newsletter {
	h5 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 0.75em;
		padding: 0 0 5px 0;
		border-bottom: 1px solid $slate;
		display: inline-block;
		margin: 0 0 20px 0;
	}

	h3 {
		line-height: 1em;
		font-size: 1.5em;
		margin: 0 0 20px 0;	

		@include tablet-portrait {
			font-size: 2.25em;
		}
	}

	p {
		font-size: 0.875em;
		line-height: 1.375em;
		max-width: 800px;
		color: #8A8A8A;
		padding: 0 0 20px 0;
	}
	
	h3 + #mc_embed_signup {
		padding-top: 20px;
	}

	form #mc_embed_signup_scroll {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		max-width: 600px;

		& > * {
			width: 100%;
			padding: 0 0 20px 0;
		}

		@include tablet-portrait {
			.first-name,
			.last-name {
				width: 47.5%;
			}
		}

	}

	label {
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		padding: 0 0 5px 0;
		font-size: 0.75em;
	}

	input[type="email"],
	input[type="text"] {
		border: 2px solid $slate;
		padding: 11px 20px;
		font-size: 1.5em;
		font-weight: bold;
		width: 100%;

		&::placeholder {
			color: #c9c9c9;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}

	.interests {

		strong {
			display: block;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding: 0 0 5px 0;
			font-size: 0.75em;
			font-weight: normal;
		}

		li {
			display: flex;
			align-items: center;

			& + li {
				padding: 10px 0 0 0;
			}

			label {
				text-transform: none;
				letter-spacing: 0;
				font-size: 0.8125em;
				padding: 0 0 0 10px;
			}
		}
	}



	input[type="submit"] {
		display: inline-block;
		border: 2px solid $green;
		background: $green;
		padding: 20px 48px;
		border-radius: 3px;
		font-size: 0.75em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 700;
		color: $white;

		@include mobile-landscape {
			max-width: 400px;
		}

		&:hover {
			background: $white;
			color: $green;
		}

		&:focus,
		&:active {
			outline: none;
		}

	}

}