html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $slate;
	font: 400 100%/1 $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $montserrat;
	font-weight: bold;
}

a {
	color: $green;
	transition: color 0.2s ease-in-out;
}


a.btn {
	display: inline-block;
	border: 2px solid $slate;
	padding: 16px 36px;
	border-radius: 3px;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
	color: $slate;

	&:hover {
		background: $slate;
		color: $white;
	}

}